.currentWorkBg{
    background-color: #6f00ff;
    padding: 20px;
    /* margin-top: 20px; */
    /* border-radius: 10px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

#freelancingIllustration {
    width: 400px;
}

#codasaursLogo {
    width:200px;
}

.codasauras-heading a {
    transition: 0.4s;
}

.codasauras-heading a:hover {
    color: #000;
}